/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-padding-top: 1rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}  
/*Variables */
:root{
    --main-color:red ;
    --text-color: black;
    --bg-color: white;
}
section{
    padding: 4rem 0 2rem;
}
img{
    width: 100%;
}
body{
    overflow-x: hidden; 
    color: var(--text-color);
}
.container{
    
    max-width: 1368px;
    margin-left: auto;
    margin-right: auto;
}
.home{
    
    max-width: 1350px;
    margin: auto;
    width: 100%;
    min-height: 640px;
    display: flex;
    align-items: center;
    background-color: silver;
    background-image: url(images/fazzio.png);
    background-repeat: no-repeat;
    background-position: center right;
    transition: background-image 0.3s;
}
.home-text {
    padding-left: 130px;
}
.home-text h1{
    font-size: 2.4rem;
}
.home-text h2{
    margin-top: 30px;
    font-weight: 600;
    font-size: 24px;
}
.motorcycle-select div{
    background: #333;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 50px;
    cursor: pointer;
}
.motorcycle-select{
    display: flex;
    margin-top: 30px;
}
.motorcycle-select #yamaha{
    background: url(images/yamaha.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px;
}
.motorcycle-select #honda{
    background: url(images/honda.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 65px;
}
.motorcycle-select #suzuki{
    background: url(images/suzuki.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 85px;
}
.home-text span{
    color: var(--main-color)
}
.home-text p{
    font-size: 0.938rem;
    font-weight: 300;
    margin: 0.5rem 0 1.2rem;
}
.btn{
    padding: 10px 22px;
    background: var(--main-color);
    color: var(--bg-color);
    font-weight: 400;
}
.btn-book{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    padding: 10px 22px;
    background: var(--main-color);
    color: var(--bg-color);
    font-weight: 400;
}
.btn-book:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
  }
  @media (min-width: 768px) {
    .button-54 {
      padding: 0.25em 0.75em;
    }
  }
.btn:hover{
    background: black;
}
@media(max-width: 700px){
    .home-text h1{
        font-size: 20px;
    }
}

/* Service */
.service{
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 100px ;
}
.userservice{
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 100px ;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.service-col{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.service-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}
/* Dealers */
.dealers{
    background-color: silver;
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 100px ;
}
.dealers-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.dealers-col img{
    width: 100%;
    display: block;
}
.layer{
    background:transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover{
    background: rgba(226,0,0,0.7);
}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff; 
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}

/* Call To Action */
.cta{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/banner.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}
.cta h1{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}

/* Footer */
.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.icons .fa{
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}
.fa-heart-o{
    color: #f44336;
}

/* About Us Page */
.sub-header{
    height: 40vh;
    width: 100%;
    background-image: linear-gradient(rgba(133, 132, 132, 0.7),rgba(133, 132, 132, 0.7)),url(images/background.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: black;
}
.sub-header h1{
    margin-top: 50px;
}
.about-us{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}
.about-col{
    flex-basis: 48%;
    padding: 30px 2px;
}
.about-col img{
    width: 100%;
}
.about-col h1{
    text-align: left;
    padding-top: 0;

}
.about-col p{
    padding: 15px 0 25px;
    text-align: left;
}
.location{
    width: 80%;
    margin: auto;
    padding: 80px 0;
}
.location h2{
    text-align: center;
    margin-bottom: 30px;
}
.location iframe{
    width: 100%;
}
.contact-us{
    width: 80%;
    margin: auto;
}
.contact-col{
    flex-basis: 48%;
    margin-bottom: 30px;
}
.contact-col div{
    display: flex;
    align-items: center;
    text-align: left;
    margin: 10px;
    margin-bottom: 40px;
}
.contact-col div p{
    padding: 0;
}
.contact-col div h5{
    font-size: 20px;
    margin-bottom: 5px;
    color: #555;
   
}

/* Contact Us Page */

.wrapper{
    background: #fff;
    width: 1080px;
    border-radius: 16px;
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
                0 32px 64px -48px rgba(0,0,0,0.5);
    margin-left: 150px;
    margin-top: 130px;
}
.form{
    text-align: left;
    padding: 25px 30px;
}
.form header{
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
}
.form form{
    margin: 20px 0;
}
.form form .error-txt{
    color: #721c24;
    background: #f8d7da;
    padding: 8px 10px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid #f5c6cb;
    display: none;
}
.form form .name-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.form .name-details .field:first-child{
    margin-right: 10px;
}
.form .name-details .field:middle{
    margin-left: 10px;

}
.form .name-details .field:last-child{
    margin-left: 10px;
}
.form form .field{
    display: flex;
    position: relative;
    flex-direction: column;
    margin-bottom: 10px;
}
.form form .field label{
    margin-bottom: 2px;
}
.form form .field input{
    outline: none;
}
.form form .field select{
    height: 40px;
    width: 100%;
    font-size: 16px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form form .input input{
    height: 40px;
    width: 100%;
    font-size: 16px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.form form button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 200px;
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    margin: 25px 0;
    margin-left: 800px;
    background-color: red;
    cursor: pointer;
    
}
form button:hover{
    background-color: #000;
}
/* Login Form */
.login-form{
    width: 450px;
    margin-left: 450px;
    margin-top: 100px;
    margin-bottom: 30px;
	border: 2px solid #ccc;
	padding: 70px;
	background: #fff;
	border-radius: 15px;
    background: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.login-details h2 {
	text-align: center;
	margin-bottom: 40px;
}
.login-details label {
	color: #050404;
	font-size: 20px;
	padding: 10px;
}
.login-details input {
	display: inline;
	border: 2px solid #ccc;
    height: 42px;
	width: 100%;
	padding: 10px;
	margin: 10px auto;
	border-radius: 5px;
}
 .login-details button{
	float: right;
	background: #ed1010;
	padding: 10px 15px;
	color: #fff;
	border-radius: 5px;
	margin-right: 10px;
	border: none;
    cursor: pointer;
}
.login-details button:hover{
    background-color: black;
}
.login-details a{
    color: gray;
}
.login-details a:hover{
    text-decoration: underline;
}

.container .profile{
    padding:20px;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    text-align: center;
    width: 400px;
    border-radius: 5px;
 }
 
 .container .profile img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 5px;
 }
 
 .container .profile h3{
    margin:5px 0;
    font-size: 20px;
    color:var(--black);
 }
 
 .container .profile p{
    margin-top: 20px;
    color:var(--black);
    font-size: 20px;
 }
 
 .container .profile p a{
    color:var(--red);
 }
 
 .container .profile p a:hover{
    text-decoration: underline;
 }
.update-profile{
    min-height: 100vh;
    background-color: var(--light-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    padding:20px;
 }
 
 .update-profile form{
    padding:20px;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    text-align: center;
    width: 700px;
    text-align: center;
    border-radius: 5px;
 }
 
 .update-profile form img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 5px;
 }
 
 .update-profile form .flex{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    gap:15px;
 }
 
 .update-profile form .flex .inputBox{
    width: 49%;
 }
 
 .update-profile form .flex .inputBox span{
    text-align: left;
    display: block;
    margin-top: 15px;
    font-size: 17px;
    color:var(--black);
 }
 
 .update-profile form .flex .inputBox .box{
    width: 100%;
    border-radius: 5px;
    background-color: var(--light-bg);
    padding:12px 14px;
    font-size: 17px;
    color:var(--black);
    margin-top: 10px;
 }
 
 @media (max-width:650px){
    .update-profile form .flex{
       flex-wrap: wrap;
       gap:0;
    }
    .update-profile form .flex .inputBox{
       width: 100%;
    }
 }